

.paging{text-align:center;margin:20px 0;font-size:14px;height:24px;margin-bottom:50px;}
.paging a{display:inline-block;vertical-align:middle;padding:0 8px;color:#008256;}
.paging a.on{font-size:14px;font-weight:bold;color:#008256;text-decoration:underline;}

.type01 {width:90%;}
.type01 thead tr{height:50px;background:#deecdd;color:#285943;font-size:15px;border-top:3px solid #008256;border-bottom:1px solid #deecdd;text-align: center;}
.type01 tbody tr{height:40px;border-bottom:1px solid #deecdd;font-size:13px;}
.type01 tbody td {vertical-align:middle;text-align:center;color:black; }
.type01 tbody td.board_title1{vertical-align:middle;text-align:center;padding-left:10px;}
.type01 tbody td.phone_kind{vertical-align:middle;text-align:left;padding-left:20px;}
.type01 tbody td a{vertical-align:middle;color:#285943;}
.type01:after{content:""; display:block;clear:both;}

.title_text{width:300px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.type01 tbody tr th{text-align:left;padding-left:5%;}

.board-button{
    background-color: whitesmoke;
    border: #deecdd 1px solid;
}

.board-button:hover{
    background-color: #8CD790;
    border: none;
}
