img{
    max-width: 100%;
    height: auto;
}

table{
    width: 100%;
}

td{
    max-width: 100%;
}

.building-button{
    margin: 0px;
    background-color: transparent;
    border: none;
    outline: none;
}

.building-button:active, .building-button:hover, .building-button:visited{
    border: none;
    outline: none;
}